<p>
  <strong>Name:</strong>
  <%= @stage.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stage.description %>
</p>

<p>
  <strong>Intrest level:</strong>
  <%= @stage.intrest_level %>
</p>

<%= link_to 'Back', stages_path %>
