<% if Prospect.where(stage_id: @stage.id).empty? %>
	<h2>Their is no Prospects in this Stage</h2>
<% else %>
	<% Prospect.where(stage_id: @stage.id).each do |prospect|%>
		<%= prospect.fullname%>
	<% end %>
<% end %>